@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center bg-success" >
    <h1 class="display-2">Welcome</h1>
    <h3 class="display-5">Admin Panel of Book_Store</h3>
    <img class="img-fluid carousel-item-left" src="~/lib/img/img.jpg" />
</div>
